@font-face {
  font-family: 'Museo';
  src: url(/fonts/MuseoSansCyrl-300.eot?14fba0121ce2d79a57f35fc117e16e0e);
  src: local("assets/fonts/MuseoSansCyrl-300"), url(/fonts/MuseoSansCyrl-300.eot?14fba0121ce2d79a57f35fc117e16e0e) format("embedded-opentype"), url(/fonts/MuseoSansCyrl-300.woff?397ed770be641d6e6bf188542c73250a) format("woff"), url(/fonts/MuseoSansCyrl-300.ttf?b89d2aed072b957f2e03388d6c52bc02) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url(/fonts/MuseoSansCyrl-500.eot?f602729c35ef07caf575a2ad057b3bbc);
  src: local("assets/fonts/MuseoSansCyrl-500"), url(/fonts/MuseoSansCyrl-500.eot?f602729c35ef07caf575a2ad057b3bbc) format("embedded-opentype"), url(/fonts/MuseoSansCyrl-500.woff?8cd656174445150d19cc7e6276e5933f) format("woff"), url(/fonts/MuseoSansCyrl-500.ttf?4a7ab6cebbb2ceac67d43c2fe979ec9c) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url(/fonts/MuseoSansCyrl-700.eot?c2281bff40e9f06884d78727d3a8c5e2);
  src: local("assets/fonts/MuseoSansCyrl-700"), url(/fonts/MuseoSansCyrl-700.eot?c2281bff40e9f06884d78727d3a8c5e2) format("embedded-opentype"), url(/fonts/MuseoSansCyrl-700.woff?0d5cb4ec8ac2a9f304846a524936213a) format("woff"), url(/fonts/MuseoSansCyrl-700.ttf?d517f62e41d9a4dab324a59706f959f5) format("truetype");
  font-weight: 700;
  font-style: normal;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder {
  color: transparent !important;
}

input:focus:-moz-placeholder {
  color: transparent !important;
}

input:focus:-ms-input-placeholder {
  color: transparent !important;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

textarea:focus::-moz-placeholder {
  color: transparent !important;
}

textarea:focus:-moz-placeholder {
  color: transparent !important;
}

textarea:focus:-ms-input-placeholder {
  color: transparent !important;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: "Museo", sans-serif;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 930px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.button {
  background-color: transparent;
  border: unset;
  outline: none;
  border-radius: 12px;
  padding: 16px 24px;
  line-height: 22px !important;
  font-weight: 500;
  font-family: "Museo", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_sm {
  padding: 8px 16px;
  font-size: 14px !important;
  border-radius: 5px;
}

.button_primary {
  background-color: #222529;
  color: white;
  transition: box-shadow ease 200ms, background-color ease 200ms, color ease 200ms;
}

.button_primary:hover {
  box-shadow: 0 0 18px -7px #222529;
}

.button_disable {
  background-color: #E0E0E0 !important;
  color: #828282 !important;
  transition: box-shadow ease 200ms, background-color ease 200ms, coloe ease 200ms;
}

.button_disable:hover {
  box-shadow: 0 0 18px -7px #E0E0E0 !important;
}

.button_block {
  width: 100%;
}

.text {
  font-size: 14px;
  line-height: 17px;
}

.text_center {
  text-align: center;
}

.text_xs {
  font-size: 10px;
  line-height: 12px;
}

.text_sm {
  font-size: 12px;
  line-height: 14px;
}

.text_md {
  font-size: 16px;
  line-height: 19px;
}

.text_lg,
.input {
  font-size: 18px;
  line-height: 140%;
}

.text_regular {
  font-weight: 400;
}

.text_semibold {
  font-weight: 500;
}

.text_bold {
  font-weight: 700;
}

.text_primary {
  color: #222529;
}

.text_decornone {
  text-decoration: none;
}

.text_grey {
  color: #828282;
}

.text_success {
  color: #27AE60;
}

.text_error {
  color: #EB5757;
}

.text_white {
  color: white;
}

.text_uppercase {
  text-transform: uppercase;
}

.ma-0 {
  margin: 0;
}

.ma-5 {
  margin: 5px;
}

.ma-10 {
  margin: 10px;
}

.ma-15 {
  margin: 15px;
}

.ma-20 {
  margin: 20px;
}

.ma-30 {
  margin: 30px;
}

@media screen and (max-width: 767px) {
  .ma-sm-0 {
    margin: 0;
  }

  .ma-sm-5 {
    margin: 5px;
  }

  .ma-sm-10 {
    margin: 10px;
  }

  .ma-sm-15 {
    margin: 15px;
  }

  .ma-sm-20 {
    margin: 20px;
  }

  .ma-sm-30 {
    margin: 30px;
  }
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.mx-15 {
  margin-right: 15px;
  margin-left: 15px;
}

.mx-30 {
  margin-right: 30px;
  margin-left: 30px;
}

.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .mx-sm-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mx-sm-5 {
    margin-right: 5px;
    margin-left: 5px;
  }

  .mx-sm-15 {
    margin-right: 15px;
    margin-left: 15px;
  }

  .mx-sm-30 {
    margin-right: 30px;
    margin-left: 30px;
  }

  .mx-sm-50 {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-5 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.my-15 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.my-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.my-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .my-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .my-sm-5 {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .my-sm-15 {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .my-sm-30 {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .my-sm-50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .my-sm-70 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

@media screen and (max-width: 767px) {
  .mt-sm-0 {
    margin-top: 0;
  }

  .mt-sm-5 {
    margin-top: 5px;
  }

  .mt-sm-10 {
    margin-top: 10px;
  }

  .mt-sm-15 {
    margin-top: 15px;
  }

  .mt-sm-30 {
    margin-top: 30px;
  }

  .mt-sm-50 {
    margin-top: 50px;
  }

  .mt-sm-70 {
    margin-top: 70px;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-70 {
  margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .mb-sm-0 {
    margin-bottom: 0;
  }

  .mb-sm-5 {
    margin-bottom: 5px;
  }

  .mb-sm-10 {
    margin-bottom: 10px;
  }

  .mb-sm-15 {
    margin-bottom: 15px;
  }

  .mb-sm-20 {
    margin-bottom: 20px;
  }

  .mb-sm-30 {
    margin-bottom: 30px;
  }

  .mb-sm-40 {
    margin-bottom: 40px;
  }

  .mb-sm-50 {
    margin-bottom: 50px;
  }

  .mb-sm-70 {
    margin-bottom: 70px;
  }
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-5 {
  margin-left: 5px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

@media screen and (max-width: 767px) {
  .ml-sm-0 {
    margin-left: 0;
  }

  .ml-sm-5 {
    margin-left: 5px;
  }

  .ml-sm-15 {
    margin-left: 15px;
  }

  .ml-sm-30 {
    margin-left: 30px;
  }

  .ml-sm-50 {
    margin-left: 50px;
  }
}

.mr-0 {
  margin-right: 0;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-100 {
  margin-right: 100px;
}

@media screen and (max-width: 767px) {
  .mr-sm-0 {
    margin-right: 0;
  }

  .mr-sm-5 {
    margin-right: 5px;
  }

  .mr-sm-15 {
    margin-right: 15px;
  }

  .mr-sm-20 {
    margin-right: 20px;
  }

  .mr-sm-30 {
    margin-right: 30px;
  }

  .mr-sm-50 {
    margin-left: 50px;
  }
}

.pa-0 {
  padding: 0;
}

.pa-5 {
  padding: 5px;
}

.pa-10 {
  padding: 10px;
}

.pa-15 {
  padding: 15px;
}

.pa-20 {
  padding: 20px;
}

.pa-30 {
  padding: 30px;
}

.pa-35 {
  padding: 35px;
}

.pa-50 {
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .pa-sm-0 {
    padding: 0;
  }

  .pa-sm-5 {
    padding: 5px;
  }

  .pa-sm-10 {
    padding: 10px;
  }

  .pa-sm-15 {
    padding: 15px;
  }

  .pa-sm-20 {
    padding: 20px;
  }

  .pa-sm-30 {
    padding: 30px;
  }

  .pa-sm-50 {
    padding: 50px;
  }
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-5 {
  padding-right: 5px;
  padding-left: 5px;
}

.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.px-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}

.px-100 {
  padding-right: 100px;
  padding-left: 100px;
}

@media screen and (max-width: 767px) {
  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-sm-5 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .px-sm-15 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .px-sm-20 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .px-sm-30 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .px-sm-40 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .px-sm-50 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 575px) {
  .px-xs-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-xs-5 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .px-xs-15 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .px-xs-20 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .px-xs-30 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .px-xs-50 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-5 {
  padding-bottom: 5px;
  padding-top: 5px;
}

.py-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.py-15 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.py-25 {
  padding-bottom: 25px;
  padding-top: 25px;
}

.py-20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.py-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.py-40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .py-sm-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-sm-5 {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .py-sm-10 {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .py-sm-15 {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .py-sm-30 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .py-sm-40 {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .py-sm-50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  .py-xs-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .py-xs-5 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .py-xs-15 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .py-xs-20 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .py-xs-30 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .py-xs-50 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.pt-0 {
  padding-top: 0;
}

.pt-5 {
  padding-top: 5px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-80 {
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .pt-sm-0 {
    padding-top: 0;
  }

  .pt-sm-5 {
    padding-top: 5px;
  }

  .pt-sm-15 {
    padding-top: 15px;
  }

  .pt-sm-30 {
    padding-top: 30px;
  }

  .pt-sm-50 {
    padding-top: 50px;
  }
}

.pb-0 {
  padding-bottom: 0;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-120 {
  padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .pb-sm-0 {
    padding-bottom: 0;
  }

  .pb-sm-5 {
    padding-bottom: 5px;
  }

  .pb-sm-15 {
    padding-bottom: 15px;
  }

  .pb-sm-30 {
    padding-bottom: 30px;
  }

  .pb-sm-50 {
    padding-bottom: 50px;
  }
}

.d-block {
  display: block;
}

/* for flex */

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

/* for grid */

.d-grid {
  display: grid;
}

.title {
  font-size: 24px;
  line-height: 140.62%;
}

.title_md {
  font-size: 36px;
  line-height: 43px;
}

.title_lg {
  font-size: 48px;
  line-height: 58px;
}

.input {
  border: 1px solid #EDF0F5;
  background-color: transparent;
  border-radius: 12px;
  color: #222529;
  outline: none;
  font-family: "Museo", sans-serif;
  width: 100%;
  padding: 16px 24px;
  caret-color: #828282;
}

.input::-moz-placeholder {
  color: #828282;
}

.input:-ms-input-placeholder {
  color: #828282;
}

.input::placeholder {
  color: #828282;
}

.input_disabled {
  color: #828282;
  background-color: #EFEFEF;
  border: 1px solid #E0E0E0;
}

.checkbox {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  position: relative;
  box-shadow: unset;
  visibility: hidden;
  cursor: pointer;
}

.checkbox::after {
  transition: border-color ease 200ms, background-color ease 200ms;
  visibility: visible;
  z-index: 1;
  position: absolute;
  opacity: 1;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #B8C1CC;
  border-radius: 4px;
  top: 0;
  left: 0;
}

.checkbox::before {
  content: "";
  position: absolute;
  visibility: visible;
  top: 45%;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 6px;
  height: 11px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  opacity: 0;
  transition: opacity ease 200ms;
}

.checkbox:checked::after {
  border-color: #222529;
  background-color: #222529;
}

.checkbox:checked::before {
  opacity: 1;
}

.card_shadow {
  box-shadow: 0 14px 12px rgba(0, 0, 0, 0.01);
}

.card_r-12 {
  border-radius: 12px;
}

.card_r-8 {
  border-radius: 8px;
}

.card_bg-light {
  background-color: white;
}


