.section {
    &-wrapper {
        padding: 24px;
        background-color: #fff;
        border-radius: 12px;
        margin-bottom: 24px;
        box-shadow: 0 6px 24px rgba(0, 0, 0, 0.04);

        @media screen and (max-width: 480px) {
            padding: 16px;
        }
    }
}
