.button {
  background-color: transparent;
  border: unset;
  outline: none;
  border-radius: 12px;
  padding: 16px 24px;
  line-height: 22px !important;
  font-weight: 500;
  font-family: $font;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &_sm {
    padding: 8px 16px;
    font-size: 14px !important;
    border-radius: 5px;
  }

  &_primary {
    background-color: $primary;
    color: white;
    transition: box-shadow ease 200ms, background-color ease 200ms, color ease 200ms;

    &:hover {
      box-shadow: 0 0 18px -7px $primary;
    }
  }

  &_disable {
    background-color: #E0E0E0 !important;
    color: $grey !important;
    transition: box-shadow ease 200ms, background-color ease 200ms, coloe ease 200ms;

    &:hover {
      box-shadow: 0 0 18px -7px #E0E0E0 !important;
    }
  }

  &_block {
    width: 100%;
  }
}
